@media screen and (max-width: 1800px){
    .wrap .con_wrap_5{
        display: block;
    }

    .wrap .con_5{
        width: 100%;
    }
}

@media screen and (max-width: 1200px){

    .wrap .menu_wrap{
        display: none;
    }

    .wrap .section_1{
        padding: 370px 160px;
    }

    /* section_1 end */

    .wrap .con_2{
        margin: 0 0 100px 0;
        width: unset;
        height: 100%;
    }

    /* .wrap .con_2_right{
        margin-left: 200px;
    } */

    /* section_2 end */

    /* .wrap .con_3_wrap{
        max-width: 500px;
    } */

    .wrap .con_3{
        margin: 0 auto;
        margin-bottom: 100px;
        width: 100%;
    }

    .wrap .hover_box{
        width: 100%;
    }

    /* settion_3 end */

    .wrap .section_4 h2{
        font-size: 50px;
    }

    .wrap .title_wrap_4{
        width: 500px;
    }

    /* section_4 */

    .section_6{
        padding: 110px 126px;
    }

    .section_6 .con_6{
        height: 235px;
        margin-right: 30px;
    }

    .section_6 .video_wrap{
       
        margin-bottom: 30px;
    }

    .wrap .con_wrap_footer{
        display: block;
    }

}

@media screen and (max-width: 450px){

    .logo a img{
        width: 110px;
    }
    
    .wrap .menu_wrap{
        display: none;
    }

    .wrap header{
        padding: 10px 20px;
    }

    header .btn_wrap{
        width: 50px;
        top: 16px;
        right: 20px;
    }

    header .btn_wrap img{
        width: 17px;
        height: 17px;
    }

    /* header end */

    .wrap .section_1{
        background-image: url(../img/1_mob.jpeg);
        height: 800px;
        padding: 9%;
    }
    
    .wrap .title_wrap_1 h2{
        font-size: 40px;
        margin-bottom: 20px; 
    }
    
    .wrap .title_wrap_1 p{
        font-size: 18px;
        font-weight: 300;
        margin-bottom: 20px;
        line-height: 26px;
    }

    .wrap .title_wrap_1{
        margin-top: 480px;
    }

    .wrap .view_btn{
        width: 70px;
        height: 27px;
        border-radius: 5px;
    }
    
    .wrap .view_btn p{
        font-size: 12px;
        line-height: 27px;
    }
    
    /* section_1 end */

    .wrap .section_2{
        background-image: unset;
    }

    .wrap .con_2_right,.wrap .con_2{
        margin-left: 0;
    }

    .wrap .con_2_wrap{
        letter-spacing: -1px;
    }

    .wrap .title_wrap h2{
        font-size: 30px;
        margin-bottom: 20px;
    }

    .wrap .title_wrap p{
        letter-spacing: -1px;
        font-size: 16px;
        margin-bottom: 20px;
        line-height: 21px;
    }

    .wrap .con_2{
        width: 100%;
        height: 100%;
        border-radius: 20px;
        margin-bottom: 30px;
        padding: 26px 20px;
    }

    .wrap .con_2 p{
        margin-bottom: 40px;
        font-size: 14px;
        line-height: 20px;
    }

    .wrap .go_btn img{
        width: 18px;
        height: 16px;
        margin: 3px 0 0 10px;
    }

    .wrap .go_btn_b img{
        width: 18px;
        height: 16px;
        margin: 0 0 0 7px;
    }

    .wrap .con_2_right p{
        margin-bottom: 15px!important;
    }

    /* section_2 end */

    .wrap .con_3_wrap, .wrap .con_wrap_5{
        display: block;
    }

    .wrap .con_3{
        width: 100%;
        height: 33.3%;
        border-radius: 20px;
        margin-bottom: 30px;
    }

    .wrap .con_3 h3{
        font-size: 23px;
    }

    .wrap .con_3 p{
        font-size: 16px;
        line-height: 24px;
    }

    .wrap .hover_box{
        width: 100%;
        height: 330px;
        padding: 80px 0px;
        border-radius: 14px;
    }
    /* sevtion_3 end */

    .wrap .section_4{
        height: 400px;
        background-position: 0;
        padding: 0px;
    }

    .wrap .section_4 h2{
        font-size: 30px;
        width: 100%;
        top:200px;
    }
    .wrap .box{
        left: -185px;
        width: 200%;
    }

    /* section_4 end */

    .wrap .con_5{
        height: 110px;
    }
    .wrap .con_5_wrap h3{
        font-size: 15px;
        margin: 120px 0 10px 0;
        letter-spacing: -1px;
    }
    .wrap .con_5_wrap p{
        font-size: 14px;
        line-height: 19px;
    }

    .wrap .story_wrap{
        margin-bottom: 90px; 
    }

    /* section_5 end */

    .wrap .con_6{
        height: 104px;
        margin-right: 10px;
    }

    .wrap .video_wrap{
        margin-bottom: 10px;
    }

    .wrap .go_btn_b{
        margin-right: 0;
    }

    .wrap .go_btn_b p {
        font-size: 14px;
        float: right;
    }

    /* section_6 end */

    .wrap .con_wrap_footer{
        display: block;
        text-align: unset;
    }


    .wrap .sns_logo_wrap{
        margin-top: 40px;
    }

    .wrap .sns_logo_wrap img{
        height: 20px;
    }

    .wrap .num, .wrap .adress{
        font-size: 16px;
        font-weight: 500;
    }
    .wrap .con_footer{
        margin-bottom: 40px;
    }

    .wrap .con_footer .num, .wrap .con_footer .adress {
        margin-bottom: 15px;
    }

    .wrap .con_footer p{
        font-size: 14px;
    }

}

/* 모바일 반응형 끝 */
