@import url(reset.css);
@import url(common.css);
@import url(react.css);
@import url(aos.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
    padding: 20px 150px;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%);
    z-index: 10;
    display: flex;
    justify-content: space-between;
}

.logo img{
    width: 210px;
}

.menu_wrap{   
    width: 500px;
    margin-right: 100px;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    line-height: 65px;
}

.btn_wrap{
    width: 60px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 36px;
    right: 150px;
}


.btn_wrap img{
    width: 21px;
    height: 21px;
}
/* header_end */

.section_1{
    background-image: url(../img/1_main.jpg);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 1130px;
    padding: 370px 330px;
}

.title_wrap_1{
    max-width: 700px;
    width: 100%;
    text-align: left;
    letter-spacing: -1px;
}

.title_wrap_1 h2{
    font-size: 85px;
    font-weight: 500;
    color: #82B93D;
    margin-bottom: 40px; 
    font-family: 'Orbitron', sans-serif;     
}

.title_wrap_1 p{
    font-size: 25px;
    font-weight: 300;
    margin-bottom: 120px;
    line-height: 35px;
}

.view_btn{
    width: 150px;
    height: 50px;
    background-color: #82B93D;
    border-radius: 10px;
}

.view_btn p{
    text-align: center;
    font-size: 22px;
    line-height: 50px;
    font-weight: 800;
}

/* section_1 end */

.section_2{
    background-image: url(../img/2_back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.con_wrap_2{
    max-width: 1620px;
    width: 100%;
    margin: 0 auto;
}


.title_wrap h2{
    font-weight: 800;
    font-size: 80px;
    color: #E12991;
    margin-bottom: 70px;
}

.title_wrap p{
    font-size: 30px;
    font-weight: 300;
    opacity: 0.8;
    margin-bottom: 100px;
    line-height: 40px;
}

.lezhin{
    background-image: url(../img/2_lezhin_op.png);
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
    border: 7px solid #FF0000;
}

.lezhin span{
    color: #FF0000;
}

.bomtoon{
    background-image: url(../img/2_bom_op.png);
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
    border: 7px solid #E12991;
}

.bomtoon span,.kideuk span{
    color: #E12991;
}

.delitoon{
    background-image: url(../img/2_deli_op.png);
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
    border: 7px solid #FFD500;
}

.delitoon span{
    color: #FFD500;
}

.kideuk{
    background-image: url(../img/2_kid_op.png);
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
    border: 7px solid #E12991;
}

.con_2{
    width: 740px;
    height: 530px;
    border-radius: 40px;
    margin-bottom: 100px;
    margin-left: 300px;
    padding: 110px 70px;
}

.con_2_right{
    margin-left: 670px;
}

.con_2 p, .con_3 p{
    margin-bottom: 120px;
    font-size: 25px;
    line-height: 35px;
}

.con_2_right p{
    margin-bottom: 9%!important;
}

.go_btn a,.go_btn_b a{
    display: flex;
}

.go_btn img,.go_btn_b img{
    width: 27px;
    height: 23px;
    margin: 5px 0 0 10px
}

.go_btn_b{
    float: right;
    /* margin-right: 118px; */
}
.go_btn_b p{
    font-size: 20px;
}

.go_btn_b img{
    margin: 0 0 0 10px;
}



/* section_2 end */



.con_wrap_3{
    max-width: 1620px;
    width: 100%;
    margin: 0 auto;
}

.title_wrap_3 h2{
    color: #82B93D;

}

.title_wrap_6 h2{
    color: #82B93D;

}


.con_3_wrap{
    display: flex;
    justify-content: space-between;
}

.con_3{
    width: 500px;
    height: 500px;
    border: 7px solid #ffffff60;
    border-radius: 32px;
    text-align: center;
}

.con_3 h3{
    font-size: 35px;
}

.con_3:hover .hover_box{
    opacity: 1;
    transition-duration: 0.5s;
}

.con_3_title p{
    opacity: 0.7;
}

.hover_box{
    margin: 0 auto;
    width: 487px;
    height: 487px;
    border-radius: 25px;
    background-color: rgba(35, 33, 33, 0.7);
    padding: 110px 0;
    opacity: 0;
}


.malangs{
    background-image: url(../img/3_mallang.png);
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
}

.weiib{
    background-image: url(../img/3_w.png);
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
}

.studiom{
    background-image: url(../img/3_m.png);
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
}




/* setion_3 end */

.section_4{
    width: 100%;
    height: 800px;
    padding: 400px;
    position: relative;
}

.box{
    background-image: url(../img/4_background.jpg);
    position: fixed;
    bottom: 0;
    background-repeat: no-repeat;
    background-size: cover;
    left: 0;
    width: 100%;
    height: 100vh; 
    z-index: -1;
}

.title_wrap_4{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%)!important;
    text-align: center;
    font-size: 86px;
    font-weight: 800;
}

.title_wrap_4 h2{
    line-height: 110px;
}



/* section_4 end */

.con_wrap_5{
    display: flex;
    justify-content: space-between;
    max-width: 1620px;
    width: 100%;
    margin: 0 auto;
}

.go_btn_wrap{
    max-width: 1620px;
    width: 100%;
    margin: 0 auto;

}

.con_5{
    width: 500px;
    height: 330px;
    background-repeat: no-repeat;
    background-size: cover;
}

.story_wrap{
    display: flex;
    margin-bottom: 130px;
}

.con_5_wrap h3{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 25px;
    margin: 350px 0 20px 0;
}

.con_5_wrap p{
    font-size: 23px;
    letter-spacing: -2px;
    font-weight: 300;
}

.story_1{
    background-image: url(../img/5_story_1.png);
    margin-right: 20px;
}

.story_2{
    background-image: url(../img/5_story_2.png);
}

.story_3{
    background-image: url(../img/5_story_3.png);
    margin-right: 20px;
}

.story_4{
    background-image: url(../img/5_story_4.png);
}

.story_5{
    background-image: url(../img/5_story_5.png);
    margin-right: 20px;
}

.story_6{
    background-image: url(../img/5_story_6.png);
}


/* section_5 end */

.con_wrap_6{
    max-width: 1620px;
    width: 100%;
    margin: 0 auto;
}

.video_1{
    background-image: url(../img/6_video_1.jpg);
}

.con_6_wrap .video_2{
    background-image: url(../img/6_video_2.jpg);
    margin-right: 0;
}

.video_3{
    background-image: url(../img/6_video_3.jpg);
}

.con_6_wrap .video_4{
    background-image: url(../img/6_video_4.jpg);
    margin-right: 0;
}

.video_5{
    background-image: url(../img/6_video_5.jpg);
}

.con_6_wrap .video_6{
    background-image: url(../img/6_video_6.jpg);
    margin-right: 0;

}

.video_wrap{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.con_6{
    width: 810px;
    height: 442px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 40px;

}

/* section_6 end */

footer{
    border-top: 2px solid #787878;

}
.con_wrap_footer{
    display: flex;
    justify-content: space-between;
}

.con_footer .logo, .con_footer .num, .con_footer .adress{
    margin-bottom: 60px;
}

.con_footer p{
    margin-bottom: 10px;
}

.footer_font{
    font-family: 'Orbitron', sans-serif;

}

.sns_logo_wrap{
    margin-top: 100px;
}

.sns_logo_wrap img{
    margin-right: 10px;
    height: 30px;
}

.num, .adress{
    font-size: 20px;
    font-weight: 700;
    opacity: 0.7;
    margin-top: 20px;
}